.grid {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  max-width: 100%;

  li {
    text-align: center;
    width: calc(
      100% / 3
    ); // Divide the width equally among 3 columns and subtract the margin
    height: auto;
    margin: 0 0 25px 0;
    float: left;
    // background-color: #f5f5f5;
    border-radius: 5px;
    padding-left: 25px;

    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .info {
      margin-top: 10px;
    }

    .case-study-btn {
      display: inline-block;
      padding: 5px 10px;
      background-color: #337ab7;
      color: #fff;
      text-decoration: none;
      border-radius: 3px;
      margin-top: 10px;
    }
  }
}

.filter-buttons {
  margin: 25px 0;

  button {
    font-size: 1.3rem;
    padding: 5px 10px;
    margin: 0 5px;
    border: none !important;
    &:hover {
      background: #facf0f;
      color: #333;
    }
    border-radius: 5px;
  }
}

.projects {
  .project-content {
    ul {
      margin: 0 0 0 -25px;
      list-style-type: none;
      z-index: 2;

      @media (max-width: 1040px) {
        li {
          width: calc(
            50%
          ); // Divide the width equally among 2 columns and subtract the margin
        }
      }

      @media (max-width: 768px) {
        li {
          width: 100%;
          padding-left: 0;
        }
      }
    }

    @media (max-width: 768px) {
      ul {
        margin: 0;
      }
    }
  }
}
